body{
	width: 100%;
	margin:0;padding:0;
}
.clear{
	clear: both;
	width: 100%;height: 0;
	visibility: none;
}
.upper-container,.lower-container{
	width: 100%;
	height:40px; 
}
.upper-container{
	background-color: #EFEFEF;
	padding: 3px;
}
.left-part{
	float: left;
	width:620px;
	height: 40px;
	margin-left: 10px;
	position: relative;
}
.logo{
	width:100px;
	height: 40px;
	margin-right: 25px; 
	float: left;
}
.logo a{
	display: block;
	width: 100px;
	height: 30px;
	padding-top:10px;
	background:url(imgs/navbar-log.png) no-repeat 0 0px;
	background-size: 100px 40px;
}
.sr-bar{
	background-color: #fff;
	padding: 5px;
	width: 435px;
	height: 25px;
	float: left;
	position: relative;
}
.sr-bar input{
	display: block;
	float: left;
}
input[type="text"]{
	width: 360px;
	height:25px;
	border:none; 
	margin: 0;
}
.v-sr{
	float: left;
	width: 40px;
	height: 25px;
	margin: 0px;
	background:url(imgs/voic.png) no-repeat ;
	background-position:0px 0px;
	background-size: 40px 25px;
	cursor: pointer;

}
.sr-bar a{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
	width: 40px;
	background: #4285f4 url(imgs/search-icon.gif) no-repeat;
	background-position: 6px 4px;
	background-size: 26px 26px;
}
.sr-bar a:hover{
	background-color:#0e63f1; 
}
.sr-bar a:active{
	background-color: #083c91;
}
.right-part{
	float: right;
	width: 140px;
	height: 40px;
	margin-right: 10px;
	position: relative;
}
.sign,.apps{
	display: block;
	width: 50px;
	float: right;
	height: 30px;
	margin-right: 5px;
	text-decoration: none;
	padding:7px 7px 0px 7px;

}
.sign{
	background-color:#4285f4; 
	color: white;
	font-family: arial;
	font-size: .85em;
}
.sign:active{
	background-color:#083c91;
}
.apps{
	background: url(imgs/apps.png) no-repeat;
	background-size: 22px 22px;
	background-position: 12px 8px;
}

.lower-container{
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	position: relative;

}
.r-ca {
	width: 435px;
	height: 50px;
	margin-left: 100px;
	float: left;
}
.r-ca a{
	display: block;
	float: left;
	width: 78px;
	height: 40px;
	padding-top: 10px;
	text-decoration: none;
	color:#808080;
	text-align: center;	 	
}
.r-ca a:focus{
	color: #3e83f4;
	border-bottom:4px solid #3e83f4; 
}
article{
	width: 500px;
	height: auto;
	margin-left: 120px;
	margin-top: 20px;
	padding: 5px;
}
.section{
	margin-top: 23px;
}
.link,.url,.desc{
	margin-top:0; 
	font-family: arial;
}
.link{
	text-decoration: none;
	display: block;
	font-size: 18px;
}
.link:hover{
	text-decoration:underline;
}
.url{
	color: #006621;
	font-size: 12px;
}
.desc{
	font-size: 12px;
	margin-top: -12px;
}