html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Reset*/
/*Reset*/
/*clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*clearfix*/
*{box-sizing: border-box;}
body{
	margin-left:.7%;
	background-color: rgb(238,238,238);
}
.container{
	float:left;
	height:700px;
}
.right_container{
	width:38%;
	background-color: rgb(238,238,238);
	padding-left:20px;

}
.left_container{
	background-color: rgb(238,238,238);
	width:62%;
}

nav{
	background-color: rgb(238,238,238);
	height:92px;
}
nav ul{
	background-color: rgb(238,238,238);
}
.logo{
	display: block;
	width:19%;
	height:100%;
	padding:10px;
	display:inline-block; 
	background:#fff url('images/logo.svg') no-repeat 0 19px;

}
.left_container .navbar{
	display: inline-block;
	width: 45%;height: 100%;
	list-style:none;
	background-color: rgb(238,238,238);
}
.left_container .navbar li{
	float:left;
	margin:0px;
	/*padding:0px 30px;*/
	text-align: center;
	height:100%;width:20%;
	border:1px solid rgb(228,228,228);
	border-collapse:collapse;
	color:rgb(140,140,140);
	line-height: 125px;

}
.social_links{
	float:right;
	width:20%;
	height:92px;
	background-color:white;
}
.social_links ul{
	list-style:none;
	width:100%;
	height:100%;
}
.social_links li{
	float:left;
	width:25%;
	height:100%;
	margin:0;
}
.social_links li a{
	display: block;	
	height:30%;
	width:76%;
	position:relative;
	top:56%;
	left:15%;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	border-radius:50%;	
	background-image:url(images/smash.svg);
	background-size:353% 600%;		
}
.face{
	background-position:76% 62%;
}
.rss{
	background-position: 76% 35.5%;
}

.twitter{
	background-position: 76% 90%;
}
.letters{
	background-position: 76% 9%;	
}
.search {
	margin-top:58px;
}
.search p {
	color:rgb(180,193,218);
}
.btn_group{
	box-sizing: border-box;
	margin-top: 20px;
}
.btn_group input{
	float:left;
	margin:0;
	padding:0;
}
.btn_group input[type="text"]{
	height:2.5em;
	padding:10px;	
	width:14em;
	border-radius: 10px;
	border:1px solid rgb(178,178,178);
	font-size:1.5em;
	color:black;
}
.btn_group input[type="button"]{
	margin-left: -5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height:2.65em;
	width:5.2em;
	padding:10px;
	border:none;
	color:white;
	font-size:1.4em;
	background-color: rgb(230,74,46);
}
.main_body{
	padding-top:84px;
	border-top-right-radius: 30px;
	background-color: white;

}

.main_body .side_nav{
	width:20%;
	float:left;
}
.main_body .article_body{
	width:80%;
	float:left;
	/*height:400px;*/
	border-top-right-radius:15px;	
}
article.article{
	width:100%;
	border-bottom:3px solid rgb(65,183,216);
	padding-left:15px;
	padding-right: 15px;
	padding-bottom:15px;

}
article .title{
	border-bottom:1px solid rgb(229,229,229);
	padding:5px;
	padding-bottom:30px;
	margin-bottom: 20px;

}
.title h1{
	font-size:2.5em;
	margin-bottom:15px;
	font-family: 'Bree Serif', serif;
}
.title small{
	font-size:1.5em;
	color:rgb(178,178,178);
}
.info{
	margin-bottom: 50px;
	text-align: center;
}
.info span{
	display:block;
	width:27%;
	font-size:1.2em;
	float:left;
	color:rgb(65,199,241);
}
article p {
	font:1.2em/1.5em serif;
}
/*side nav*/
ul.coding{
	border-left:8px solid rgb(201,233,229);
}
ul.design{
	border-left:8px solid rgb(205,238,170);
}
ul.mobile{
	border-left:8px solid rgb(248,237,152);
}
ul.graphic{
	border-left:8px solid rgb(224,207,223);
}
ul.ux_design{
	border-left:8px solid rgb(246,173,180);

}
ul.wordpress{
	border-left:8px solid rgb(188,216,240);
}
.side_nav ul{
	list-style:none;
	text-align:left;
	padding-bottom: 20px;
	margin-top:0px;
	margin-bottom:0px;
	float:left;
}
.side_nav li{
	margin-top:14px;
	padding-left:13px;
	color:rgb(160,160,160);
}
.side_nav ul li:first-child{
	font-weight: bold;
	color:black;
	font-size:1.15em;
}